body {
  background: linear-gradient(125deg, #363ed5, #06070c);
    color: #00aaff;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-container {
    background-color: #111;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #0077cc;
    width: 98%; /* Crește lățimea la 98% */
    max-width: 450px; /* Setează o lățime maximă mai mare */
  }
  
  input, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  input {
    background-color: #222;
    color: #00aaff;
    font-size: 16px; /* Mărim textul */
    font-family: Arial, sans-serif; /* Schimbăm fontul */
    border-radius: 10px; /* Colțuri mai rotunde */
    width: 90%; /* Reducem lățimea fundalului */
    margin: 10px auto; /* Centrare orizontală */
    display: block; /* Asigurăm centrare */
  }
  
  button {
    background-color: #0077cc;
    color: white;
    cursor: pointer;
    margin-top: 30px; /* Adăugăm spațiu suplimentar deasupra butonului */
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
