footer {
  background-color: #111;
  color: #00aaff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  position: static;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}
